h1 {
	text-align: center; 
	color: white;
}

body {
	background-color: #2471A3; 
	font-family: arial,verdana, sans-serif; 
	margin-left: 20px;
}

div {
	background-color: #D0ECE7;
	border-radius: 5px; 
	padding: 5px; 
	margin: 10px;
}

#name {
	width: 50%; 
	height: 25px;
}

#button {
	width: 150px; 
	height: 30px;
}
